@model agilium.webapp.manager.mvc.ViewModels.PagedViewModel<agilium.webapp.manager.mvc.ViewModels.PlanoContaViewModel.PlanoContaViewModel>
@using agilium.webapp.manager.mvc.Extensions

@{
    ViewData["Title"] = "Planos de Contas";
}
<h5>@ViewData["Title"]</h5>
<hr />
<section class="barra-de-menu-principal">
    <div class="barra-de-botoes-menu-principal">
        <a asp-action="CreatePlanoConta" onclick="on()" title="Cadastrar Novo Registro"><span class="fa fa-plus-square sns-tool-action" id="btnNovoCadastro"></span></a>
        <a href="javascript:history.go(-1)" type="button" as title="Voltar" id="btnVoltar"><span class="fas fa-reply sns-tool-action" id="btnReturn"></span></a>
        <a href="#" title="Precisa de Ajuda?" id="btnAjuda"><span class="fa fa-question sns-tool-action"></span></a>

    </div>

    <article>
        <div class="barra-de-posicao-atual" id="breadcrumb">
            <a asp-action="Index" asp-controller="Home"> Início</a> /
            <a href="#"><i class="fa fa-dashboard"></i> Plano de Conta </a>
        </div>
    </article>
</section>
<br />
<div class="row">
    <div class="col-md-8" id="areaFiltro">
        <form asp-action="Index" class="sidebar-form" method="get">
            <input type="hidden" asp-for="PageSize" id="PageSize" />
            <input type="hidden" asp-for="PageIndex " id="PageIndex" />
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="labelPromocao">
                    <input value="@ViewBag.Pesquisa" class="form-control" title="Pesquisar por descrição" placeholder="Pesquisar por descrição..." id="q" name="q" />
                </div>
                <div>
                    <span class="col-lg-2 col-md-2 col-sm-2" input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-info btn-flat" title="Pesquisar">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <button class="btn" id="btnSendForm" type="submit" style="visibility:hidden"></button>

        </form>
    </div>
</div>
<div id="divGridResultado">
    <table class="table table-hover">
        <thead class="table thead-dark">
            <tr>
                <th>
                    Conta
                </th>
                <th>
                    Descrição
                </th>
                <th>
                    Saldo
                </th>
                <th>
                    Natureza
                </th>
                
                <th>
                    Situação
                </th>
                <th class=""></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.List)
            {
                var ativo = "";
                var classeAtivo = "";
                if (item.Situacao == agilium.webapp.manager.mvc.Enums.EAtivo.Ativo)
                {
                    ativo = "Ativo";
                    classeAtivo = "btn btn-danger";
                }
                else
                {
                    ativo = "Inativo";
                    classeAtivo = "btn btn-success";
                }

                var saldo = item.Saldo;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.Raw(saldo.ToString("C"))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        @if (item.Situacao == agilium.webapp.manager.mvc.Enums.EAtivo.Ativo)
                        {
                            <span class="text-success">Ativo</span>
                        }
                        else
                        {
                            <span class="text-danger">Inativo</span>
                        }
                    </td>                    
                    <td class="text-right">
                        <a class="btn btn-info" asp-action="IndexLancamentos" asp-route-idConta="@item.Id" title="Lançamentos"><spam class="fas fa-tasks"></spam></a>
                        <a class="btn btn-default" asp-action="AtualizarSaldoPorId" asp-route-id="@item.Id" title="Atualizar Saldo"><spam class="fas fa-sync-alt"></spam></a>
                        <a class="btn btn-warning" asp-action="EditPlanoConta" asp-route-id="@item.Id" title="Editar"><spam class="fa fa-pencil-alt"></spam></a>
                        <a class="btn btn-danger" asp-action="DeletePlanoConta" asp-route-id="@item.Id" title="Apagar"><spam class="fa fa-trash"></spam></a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>

                <td colspan="6">
                    <vc:paginacao modelo-paginado="@Model"></vc:paginacao>
                </td>
            </tr>

        </tfoot>
    </table>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/local/Financeiro/planoConta.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>

 }