@model agilium.webapp.manager.mvc.ViewModels.NotaFiscalViewModel.NotaFiscalnutilViewModel
@{
    ViewData["Title"] = "Inutilização de Nota Fiscal";
}
<h5>@ViewData["Title"]</h5>
<hr />
<section class="barra-de-menu-principal">
    <div class="barra-de-botoes-menu-principal">

        <a href="javascript:history.go(-1)" type="button" as title="Voltar" id="btnVoltar"><span class="fas fa-reply sns-tool-action" id="btnReturn"></span></a>
        <a href="#" type="button" title="Salvar dados" id="btnSalvar"><span class="fa fa-save sns-tool-action"></span></a>

        <a href="#" type="button" title="Precisa de Ajuda?" id="btnAjuda"><span class="fa fa-question sns-tool-action"></span></a>
    </div>

    <article>
        <div class="barra-de-posicao-atual" id="breadcrumb">
            <a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a> /
            <a href="@Url.Action("IndexNFInutil","NotaFiscal")"><i class="fa fa-dashboard"></i> Inutilização NF </a> /
            <a href="#"> Apagar </a>
        </div>
    </article>
</section>
<br />
<div class="row">
    <div class="col-md-12">
        <form id="DeleteNFInutil" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <vc:Summary></vc:Summary>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Situacao" />
            <input type="hidden" asp-for="IDEMPRESA" />
            <input type="hidden" asp-for="Modelo" />
            <input type="hidden" asp-for="Motivo" />
            <input type="hidden" asp-for="Codigo" />
            <input type="hidden" asp-for="Data" />
            <input type="hidden" asp-for="Ano" />
            <input type="hidden" asp-for="Serie" />
            <input type="hidden" asp-for="NumeroInicial" />
            <input type="hidden" asp-for="NumeroFinal" />
            <div class="card" id="labelcardGerais">
                <div class="card-header">
                    <h3 class="card-title text-danger">Apagar Registro</h3>

                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="IDEMPRESA" id="labelEmpresa"></label>
                                <select asp-for="IDEMPRESA"
                                        asp-items="@Model.Empresas.Select(x => new SelectListItem(){Text = x.NMRZSOCIAL, Value = x.Id.ToString()})"
                                        class="form-control" disabled></select>
                                <span asp-validation-for="IDEMPRESA" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Codigo" id="labelCodigo"></label>
                                <input asp-for="Codigo" class="form-control" size="6" disabled/>
                                <span asp-validation-for="Codigo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Motivo" id="labelMotivo"></label>
                                <input asp-for="Motivo" class="form-control" disabled/>
                                <span asp-validation-for="Motivo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Ano" id="labelAno"></label>
                                <input asp-for="Ano" class="form-control" disabled/>
                                <span asp-validation-for="Ano" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Modelo" id="labelModelo"></label>
                                <input asp-for="Modelo" class="form-control" size="5" disabled/>
                                <span asp-validation-for="Modelo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Serie" id="labelSerie"></label>
                                <input asp-for="Serie" class="form-control" size="10" disabled/>
                                <span asp-validation-for="Serie" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="NumeroInicial" id="labelNumIni"></label>
                                <input asp-for="NumeroInicial" class="form-control" disabled/>
                                <span asp-validation-for="NumeroInicial" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="NumeroFinal" id="labelNumFim"></label>
                                <input asp-for="NumeroFinal" class="form-control" disabled/>
                                <span asp-validation-for="NumeroFinal" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Data" id="labelData"></label>
                                <input asp-for="Data" class="form-control" disabled/>
                                <span asp-validation-for="Data" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Situacao" id="labelSituacao"></label>
                                <select asp-for="Situacao"
                                        asp-items="Html.GetEnumSelectList<agilium.webapp.manager.mvc.Enums.ESituacaoNFInutil>()"
                                        class="form-control" disabled></select>
                                <span asp-validation-for="Situacao" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" style="visibility:hidden" id="btnSendForm" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/local/Financeiro/notaFiscalInutil.js"></script>

 }