@model agilium.webapp.manager.mvc.ViewModels.VendaReportViewModel.VendasFornecedorViewModel

@{
    ViewData["Title"] = "Relatório de Vendas por Fornecedor";
}
<h5>@ViewData["Title"]</h5>
<hr />
<section class="barra-de-menu-principal">
    <div class="barra-de-botoes-menu-principal">
        <a href="javascript:history.go(-1)" type="button" as title="Voltar" id="btnVoltar"><span class="fas fa-reply sns-tool-action" id="btnReturn"></span></a>
        <a href="#" title="Precisa de Ajuda?" id="btnAjuda"><span class="fa fa-question sns-tool-action"></span></a>

    </div>

    <article>
        <div class="barra-de-posicao-atual" id="breadcrumb">
            <a asp-action="Index" asp-controller="Home"> Início</a> /
            <a href="#"> Relatorio Vendas Fornecedor</a>
        </div>
    </article>
</section>
<br />
<div class="row">
    <div class="col-md-6" id="areaFiltro">
        <form id="frmRelatVendaSimplificado" class="sidebar-form" method="get" novalidate>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label id="lbDataInicial">Data Inicial</label>
                        <input class="form-control datetime" type="text" id="DataInicial" name="DataInicial" value="@ViewBag.DataInicial" data-mask="00/00/0000" />
                        <div class="invalid-feedback">
                            Campo deve ser fornecido.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label id="lbDataFinal">Data Final</label>
                        <input class="form-control datetime" type="text" id="DataFinal" name="DataFinal" value="@ViewBag.DataFinal" data-mask="00/00/0000" />
                        <div class="invalid-feedback">
                            Campo deve ser fornecido.
                        </div>
                    </div>
                </div>
                <div class="align-items-center">
                    <div class="col-xs-1">
                        <div class="form-group">
                            <label id="lbbotao">&nbsp</label>
                            <button type="submit" class="nav-link btn btn-outline-secondary" name="search-btn" id="search-btn" title="Filtrar"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn" id="btnSendForm" type="submit" style="visibility:hidden"></button>

        </form>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <div class="card card-danger collapsed-card">
            <div class="card-header">

                <h4 class="card-title">
                    <i class="fas fa-dollar-sign"></i>
                    Totalização
                </h4>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>

            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Quantidade</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.Raw(Model.TotalQuantidade.ToString("N"))
                            </td>
                            <td>
                                @Html.Raw(Model.TotalValor.ToString("N"))
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead class="table thead-dark">
        <tr>
            <th>
                Fornecedor.
            </th>
            <th>
                Produto
            </th>
            <th>
                Quantidade
            </th>
            <th>
                Total
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Vendas.OrderBy(x => x.Fornecedor).OrderBy(x => x.Produto))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fornecedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto)
                </td>
                <td>
                    @Html.Raw(item.Quantidade.ToString("N"))
                </td>
                <td>
                    @Html.Raw(item.Total.ToString("N"))
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
    </tfoot>
</table>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/local/processo/venda.js"></script>

 }