@model agilium.webapp.manager.mvc.ViewModels.PagedViewModel<agilium.webapp.manager.mvc.ViewModels.SiteMercadoViewModel.MoedaSiteMercadoViewModel>
@using agilium.webapp.manager.mvc.Extensions

@{
    ViewData["Title"] = "Associação de Moedas Site Mercado";
}
<h5>@ViewData["Title"]</h5>
<hr />
<section class="barra-de-menu-principal">
    <div class="barra-de-botoes-menu-principal">
        <a asp-action="CreateMoeda" onclick="on()" title="Cadastrar Novo Registro"><span class="fa fa-plus-square sns-tool-action" id="btnNovoCadastro"></span></a>
        <a href="#" title="Precisa de Ajuda?" id="btnAjuda"><span class="fa fa-question sns-tool-action"></span></a>
    </div>

    <article>
        <div class="barra-de-posicao-atual" id="breadcrumb">
            <a asp-action="Index" asp-controller="Home"> Início</a> /
            <a href="#"><i class="fa fa-dashboard"></i> Moeda Site Mercado </a>
        </div>
    </article>
</section>
<br />
<div class="row">
    <div class="col-md-12" id="areaFiltro">
        <form asp-action="IndexMoeda" class="sidebar-form" method="get">
            <input type="hidden" asp-for="PageSize" id="PageSize" />
            <input type="hidden" asp-for="PageIndex " id="PageIndex" />
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="labelPromocao">
                    <input value="@ViewBag.Pesquisa" class="form-control" title="Pesquisar por descrição Moeda PDV" placeholder="Pesquisar por descrição moeda PDV..." id="q" name="q" />
                </div>
                <div>
                    <span class="col-lg-2 col-md-2 col-sm-2" input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-info btn-flat" title="Pesquisar">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <button class="btn" id="btnSendForm" type="submit" style="visibility:hidden"></button>

        </form>
    </div>
</div>
<div id="divGridResultado">
    <table class="table table-hover">
        <thead class="table thead-dark">
            <tr>
                <th>
                    Moeda PDV
                </th>
                <th>
                    Moeda Site Mercado
                </th>
                <th>
                    Data/Hora
                </th>
                <th class=""></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.List)
            {
                <tr>
                    <td>
                        @Html.Raw(item.MoedaPdv)
                    </td>
                    <td>
                        @Html.Raw(item.IDSM)
                    </td>
                    <td>
                        @Html.Raw(item.DataHora.HasValue?item.DataHora.Value.ToString("dd/MM/yyyy HH:mm:ss"):"")
                    </td>
                    <td class="text-right">
                        <a class="btn btn-warning" asp-action="EditMoeda" asp-route-id="@item.Id" title="Editar"><spam class="fa fa-pencil-alt"></spam></a>
                        <a class="btn btn-danger" asp-action="DeleteMoeda" asp-route-id="@item.Id" title="Apagar"><spam class="fa fa-trash"></spam></a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>

                <td colspan="4">
                    <vc:paginacao modelo-paginado="@Model"></vc:paginacao>
                </td>
            </tr>

        </tfoot>
    </table>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/local/cadastros/principal/siteMercado.js"></script>

 }