@model agilium.webapp.manager.mvc.ViewModels.PagedViewModel<agilium.webapp.manager.mvc.ViewModels.CaixaViewModel.CaixaMovimentoViewModel>
@using agilium.webapp.manager.mvc.Extensions

@{
    ViewData["Title"] = "Movimentação de Caixa";
    
}
<h5>@ViewData["Title"]</h5>
<hr />
<section class="barra-de-menu-principal">
    <div class="barra-de-botoes-menu-principal">
        <a href="javascript:history.go(-1)" type="button" as title="Voltar" id="btnVoltar"><span class="fas fa-reply sns-tool-action" id="btnReturn"></span></a>
        <a href="#" title="Precisa de Ajuda?" id="btnAjuda"><span class="fa fa-question sns-tool-action"></span></a>
    </div>

    <article>
        <div class="barra-de-posicao-atual" id="breadcrumb">
            <a asp-action="Index" asp-controller="Home"> Início</a> /
            <a href="@Url.Action("IndexCaixa","Caixa")"><i class="fa fa-dashboard"></i> Caixa </a> /
            <a href="#"> Movimentação </a>
        </div>
    </article>
</section>
<br />
<div class="row">
    <div class="col-md-8" id="areaFiltro">
        <form class="sidebar-form" method="get">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="labelPromocao">
                    <h2 class="card-title text-default">@ViewBag.Caixa</h2>
                </div>               
            </div>
            <button class="btn" id="btnSendForm" type="submit" style="visibility:hidden"></button>

        </form>
    </div>
</div>
<div id="divGridResultado">
    <table class="table table-hover">
        <thead class="table thead-dark">
            <tr>
                <th>
                    Tipo
                </th>
                <th>
                    Descrição
                </th>
                <th>
                    Valor
                </th>               
                <th>
                    Situação
                </th>         
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.List)
            {
                var classeAtivo = item.Situacao == agilium.webapp.manager.mvc.Enums.ESituacaoCaixa.Fechado? "text-danger":"";
                var saldo = item.Valor.HasValue?item.Valor.Value.ToString("N"):"0,00";
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.Raw(saldo)
                    </td>
                    <td>
                        <span class="@classeAtivo">@Html.DisplayFor(modelItem => item.Situacao)</span>
                        
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr >
                <td colspan="4">
                    <nav>
                        <ul class="pagination justify-content-center">
                            @{
                                for (var i = 1; i < Model.TotalPages + 1; i++)
                                {
                                    if (i == Model.PageIndex)
                                    {
                                        <li class="page-item active">
                                            <a class="page-link" asp-action="@Model.ReferenceAction" asp-route-page="@i" asp-route-ps="@Model.PageSize" asp-route-q="@Model.Query" asp-route-idCaixa="@ViewBag.idCaixa">@i <span class="sr-only">(current)</span></a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item"><a class="page-link" asp-action="@Model.ReferenceAction" asp-route-ps="@Model.PageSize" asp-route-page="@i" asp-route-q="@Model.Query" asp-route-idCaixa="@ViewBag.idCaixa">@i</a></li>
                                    }
                                }
                            }
                        </ul>
                    </nav>
                </td>
           
            </tr>

        </tfoot>
    </table>
</div>