@using agilium.api.business.Enums
@using agilum.mvc.web.ViewModels.Produtos
@model agilum.mvc.web.ViewModels.PagedViewModel<ProdutoViewModel>
@using agilum.mvc.web.Extensions

@{
    ViewData["Title"] = "Produto";
}
<h5>@ViewData["Title"]</h5>
<hr />
<section class="barra-de-menu-principal">
    <div class="barra-de-botoes-menu-principal">
        <a asp-action="CreateProduto" onclick="on()" title="Cadastrar Novo Registro"><span class="fa fa-plus-square sns-tool-action" id="btnNovoCadastro"></span></a>
        <a href="#" title="Precisa de Ajuda?" id="btnAjuda"><span class="fa fa-question sns-tool-action"></span></a>

        <a asp-action="AtualizarIBPT" onclick="on()" title="Atualizar IBPT dos Produtos"><span class="fas fa-retweet" id="btnIBPT"></span>IBPT</a>
    </div>

    <article>
        <div class="barra-de-posicao-atual" id="breadcrumb">
            <a asp-action="Index" asp-controller="Home"> Início</a> /
            <a href="#"><i class="fa fa-dashboard"></i> Produto </a>
        </div>
    </article>
</section>
<br />
<div class="row">
    <div class="col-md-8" id="areaFiltro">
        <form asp-action="Index" class="sidebar-form" method="get">
            <input type="hidden" asp-for="PageSize" id="PageSize" />
            <input type="hidden" asp-for="PageIndex " id="PageIndex" />
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="labelPromocao">
                    <input value="@ViewBag.Pesquisa" class="form-control" title="Pesquisar por descrição" placeholder="Pesquisar por descrição..." id="q" name="q" />
                </div>
                <div>
                    <span class="col-lg-2 col-md-2 col-sm-2" input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-info btn-flat" title="Pesquisar">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <button class="btn" id="btnSendForm" type="submit" style="visibility:hidden"></button>

        </form>
    </div>
</div>
<div id="divGridResultado">
    <table class="table table-hover">
        <thead class="table thead-dark">
            <tr>
                <th>
                    Codigo
                </th>
                <th>
                    Descrição
                </th>
                <th>
                    Preço atual
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    Custo Médio
                </th>
                <th>
                    Situação
                </th>
                <th>Estoque</th>
                <th>Preço Diferenciado</th>
                <th class=""></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.List)
            {
                var ativo = "";
                var classeAtivo = "";
                if (item.Situacao == EAtivo.Ativo)
                {
                    ativo = "Ativo";
                    classeAtivo = "btn btn-danger";
                }
                else
                {
                    ativo = "Inativo";
                    classeAtivo = "btn btn-success";
                }

                var preco = item.Preco.HasValue ? item.Preco.Value : 0;
                var valorcustoMedio = item.ValorCustoMedio.HasValue ? item.ValorCustoMedio.Value : 0;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.Raw(preco.ToString("C"))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        @Html.Raw(valorcustoMedio.ToString("C"))
                    </td>
                    <td>
                        @if (item.Situacao == EAtivo.Ativo)
                        {
                            <span class="text-success">Ativo</span>
                        }
                        else
                        {
                            <span class="text-danger">Inativo</span>
                        }
                    </td>

                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default"><i class="fas fa-cubes"></i></button>
                            <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" asp-action="ListaEstoque" asp-route-idProduto="@item.Id">Detalhes</a>
                                <a class="dropdown-item" asp-action="ListaEstoqueHistorico" asp-route-idProduto="@item.Id">Historico Mov</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default"><i class="fas fa-hand-holding-usd"></i></button>
                            <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" asp-action="ListaPreco" asp-route-idProduto="@item.Id">Historico</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-action="ListaClientePreco" asp-route-idProduto="@item.Id">por Cliente</a>
                                <a class="dropdown-item" asp-action="ListaTurnoPreco" asp-route-idProduto="@item.Id">por Turno</a>
                            </div>
                        </div>
                    </td>
                    <td class="text-right">
                        <a class="btn btn-default" asp-action="ListaFoto" asp-route-idProduto="@item.Id" title="Fotos"><spam class="fas fa-image" data-toggle="modal" data-target="#myModal"></spam></a>
                        <a class="btn btn-default" asp-route-id="@item.Id" title="Codigo de Barra" id="btnaddCodBarra" asp-action="ListaCodigoBarra" asp-route-idProduto="@item.Id"><spam class="fas fa-barcode"></spam></a>
                        <a class="btn btn-default" asp-route-id="@item.Id" title="Testar NFCe"><spam class="fas fa-check"></spam></a>
                        <a class="btn btn-warning" asp-action="EditProduto" asp-route-id="@item.Id" title="Editar"><spam class="fa fa-pencil-alt"></spam></a>
                        <a class="btn btn-danger" asp-action="DeleteProduto" asp-route-id="@item.Id" title="Apagar"><spam class="fa fa-trash"></spam></a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>

                <td colspan="9">
                    <vc:paginacao modelo-paginado="@Model"></vc:paginacao>
                </td>
            </tr>

        </tfoot>
    </table>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <script src="~/local/cadastros/principal/produto.js"></script>
    <script>
        $(document).ready(function () {
            SetModal();
        });

        //$('.modal').on('shown.bs.modal', function (e) {
        //    $("body").addClass("modal-open")
        //});
    </script>
}