@model agilium.webapp.manager.mvc.ViewModels.PagedViewModel<agilium.webapp.manager.mvc.ViewModels.PerdaViewModel.PerdaViewModel>
@using agilium.webapp.manager.mvc.Extensions

@{
    ViewData["Title"] = "Perdas / Sobras";
}
<h5>@ViewData["Title"]</h5>
<hr />
<section class="barra-de-menu-principal">
    <div class="barra-de-botoes-menu-principal">
        <a href="javascript:history.go(-1)" type="button" as title="Voltar" id="btnVoltar"><span class="fas fa-reply sns-tool-action" id="btnReturn"></span></a>
        <a asp-action="Create" onclick="on()" title="Cadastrar Novo Registro"><span class="fa fa-plus-square sns-tool-action" id="btnNovoCadastro"></span></a>
        <a href="#" title="Precisa de Ajuda?" id="btnAjuda"><span class="fa fa-question sns-tool-action"></span></a>

    </div>

    <article>
        <div class="barra-de-posicao-atual" id="breadcrumb">
            <a asp-action="Index" asp-controller="Home"> Início</a> /
            <a href="#"> Perda-Sobra </a>
        </div>
    </article>
</section>
<br />
<div class="row">
    <div class="col-md-8" id="areaFiltro">
        <form asp-action="Index" class="sidebar-form" method="get">
            <input type="hidden" asp-for="PageSize" id="PageSize" />
            <input type="hidden" asp-for="PageIndex " id="PageIndex" />
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="labelPromocao">
                    <input value="@ViewBag.Pesquisa" class="form-control" title="Pesquisar por nome do produto" placeholder="Pesquisar por nome do produto..." id="q" name="q" />
                </div>
                <div>
                    <span class="col-lg-2 col-md-2 col-sm-2" input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-info btn-flat" title="Pesquisar">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <button class="btn" id="btnSendForm" type="submit" style="visibility:hidden"></button>

        </form>
    </div>
</div>
<div id="divGridResultado">
    <table class="table table-hover">
        <thead class="table thead-dark">
            <tr>
                <th>
                    Codigo
                </th>
                <th>
                    Data
                </th>
                <th>
                    Produto
                </th>
                <th>
                    Estoque
                </th>
                <th>
                    Quantidade
                </th>
                <th>
                    Movimento
                </th>
                <th>
                    Motivo
                </th>
                <th>
                    Usuário
                </th>
                <th>
                    Observação
                </th>
                <th class=""></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.List)
            {
                var data = item.DataHora.HasValue ? item.DataHora.Value.ToString("dd/MM/yyyy") : "";
                var classeAtivo = "";
                if (item.Movimento == agilium.webapp.manager.mvc.Enums.ETipoMovimentoPerda.Sobra)
                {
                    classeAtivo = "text-success";
                }
                else
                {
                    classeAtivo = "text-danger";
                }

                var valor = item.ValorCustoMedio.HasValue ? item.ValorCustoMedio.Value : 0;

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @Html.Raw(data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProdutoNome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstoqueNome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Movimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UsuarioNome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Observacao)
                    </td>
                    <td class="text-right">
                        <a class="btn btn-danger" asp-action="delete" asp-route-id="@item.Id" title="apagar"><spam class="fa fa-trash"></spam></a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>

                <td colspan="10">
                    <vc:paginacao modelo-paginado="@Model"></vc:paginacao>
                </td>
            </tr>

        </tfoot>
    </table>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/local/Processo/perda.js"></script>
    <script>


    </script>
 }