@using agilium.api.business.Enums
@using agilum.mvc.web.Enums
@using agilum.mvc.web.ViewModels.Moedas
@model MoedaViewModel
@using agilum.mvc.web.Extensions
@{
    var inclusao = ViewBag.operacao == "I";
    var operacao = inclusao ? "Novo" : "Editar";
    ViewData["Title"] = "Moeda";
}
<h5>@ViewData["Title"]</h5>
<hr />
<section class="barra-de-menu-principal">
    <div class="barra-de-botoes-menu-principal">

        <a href="javascript:history.go(-1)" type="button" as title="Voltar" id="btnVoltar"><span class="fas fa-reply sns-tool-action" id="btnReturn"></span></a>
        <a href="#" type="button" title="Salvar dados" id="btnSalvar"><span class="fa fa-save sns-tool-action"></span></a>

        <a href="#" title="Precisa de Ajuda?" id="btnAjuda"><span class="fa fa-question sns-tool-action"></span></a>
    </div>

    <article>
        <div class="barra-de-posicao-atual" id="breadcrumb">
            <a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a> /
            <a href="@Url.Action("Index","Moeda")"><i class="fa fa-dashboard"></i> Moedas</a> /
            <a href="#"> @operacao </a>
        </div>
    </article>
</section>
<br />
<div class="row">
    <div class="col-12">
        <form asp-action="@ViewBag.acao" id="CreateEditMoeda" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <vc:Summary></vc:Summary>
            <input type="hidden" asp-for="Id" />
            <div class="card" id="labelcardGerais">
                <div class="card-header">
                    @if (ViewBag.operacao == "I")
                    {
                        <h3 class="card-title text-success">Novo Registro</h3>
                    }
                    else
                    {
                        <h3 class="card-title text-warning">Editar Registro</h3>
                    }

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <div class="form-group">
                                <label asp-for="Codigo" id="labelCodigo"></label>
                                <input asp-for="Codigo" class="form-control" size="6" />
                                <span asp-validation-for="Codigo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label asp-for="Tipo" id="labeltpMoeda"></label>
                                <select asp-for="Tipo"
                                        asp-items="Html.GetEnumSelectList<ETipoMoeda>()"
                                        class="form-control"></select>
                                <span asp-validation-for="Tipo" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="IDEMPRESA" id="labelEmpresa"></label>
                                <select asp-for="IDEMPRESA"
                                        asp-items="@Model.Empresas.Select(x => new SelectListItem(){Text = x.NMRZSOCIAL, Value = x.Id.ToString()})"
                                        class="form-control"></select>
                                <span asp-validation-for="IDEMPRESA" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="Descricao" id="labelDesc"></label>
                                <input asp-for="Descricao" class="form-control" size="70" />
                                <span asp-validation-for="Descricao" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <div class="form-group">
                                <label asp-for="PorcentTaxa" id="labelPorcTaxa"></label>
                                <input asp-for="PorcentTaxa" class="form-control money" />
                                <span asp-validation-for="PorcentTaxa" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label asp-for="SitucacaoTroco" id="labelTroco"></label>
                                <select asp-for="SitucacaoTroco"
                                        asp-items="Html.GetEnumSelectList<ESituacaoTroco>()"
                                        class="form-control"></select>
                                <span asp-validation-for="SitucacaoTroco" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label asp-for="TipoDocFiscal" id="labeltpFiscal"></label>
                                <select asp-for="TipoDocFiscal"
                                        asp-items="Html.GetEnumSelectList<ETipoDocFiscal>()"
                                        class="form-control"></select>
                                <span asp-validation-for="TipoDocFiscal" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <div class="form-group">
                                <label asp-for="TECLA_ATALHO" id="labelTecla_Atalho"></label>
                                <select asp-for="TECLA_ATALHO"
                                        asp-items="ViewBag.teclasAtalho"
                                        class="form-control"></select>
                                <span asp-validation-for="TECLA_ATALHO" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <div class="form-group">
                                <label asp-for="COR_BOTAO" id="labelCorBotao"></label>
                                <div class="input-group my-colorpicker1 colorpicker-element" data-colorpicker-id="2">
                                    <input type="text" asp-for="COR_BOTAO" class="form-control" data-original-title="" title="">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-palette"></i></span>
                                    </div>
                                </div>
                                <span asp-validation-for="COR_BOTAO" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label asp-for="COR_FONTE" id="labelCorFonte"></label>
                                <div class="input-group my-colorpicker1 colorpicker-element" data-colorpicker-id="2">
                                    <input type="text" asp-for="COR_FONTE" class="form-control" data-original-title="" title="">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-palette"></i></span>
                                    </div>
                                </div>
                                <span asp-validation-for="COR_FONTE" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.operacao == "E")
                    {
                        <div class="row">
                            <div class="col-2">
                                <div class="form-group">
                                    <label asp-for="Situacao" id="labelativo"></label>
                                    <select asp-for="Situacao"
                                            asp-items="Html.GetEnumSelectList<EAtivo>()"
                                            class="form-control"></select>
                                    <span asp-validation-for="Situacao" class="text-danger"></span>
                                </div>

                            </div>
                        </div>
                    }
                    else
                    {
                        <input type="hidden" asp-for="Situacao" />
                    }



                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" style="visibility:hidden" id="btnSendForm" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <script src="~/dist/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/local/cadastros/pontoVenda/moeda.js"></script>

}