@using Microsoft.AspNetCore.Identity
@using agilum.mvc.web.Data
@inject SignInManager<AppUserAgiliumIdentity> SignInManager
@inject UserManager<AppUserAgiliumIdentity> UserManager
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agilium Painel</title>

    <link rel="icon" type="image/x-icon" href="~/Images/logo_v3c_SIMBOLO.png">

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="~/font/NightMachine-rwMB.ttf" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/dist/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <!-- Theme style -->

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/dist/plugins/chart.js/Chart.css" />
    <link rel="stylesheet" href="~/css/toastr.css" />
    <link href="~/dist/plugins/sweetalert2/sweetalert2.css" rel="stylesheet">
    <link rel="stylesheet" href="~/dist/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/dist/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/dist/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">


    <!-- DataTables -->
    <link rel="stylesheet" href="~/dist/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/dist/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/dist/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
</head>

<body class="hold-transition sidebar-mini text-md accent-navy">
    @*<div id="overlay" onclick="off()">
            <img id="imgLoader" src="~/Images/ajax-loader.gif" alt="Aguarde o carregamento..." />

        </div>*@

    <div id="overlay">
        <div class="loader">
            <img id="imgLoader" src="~/Images/loading-gif-png-5.gif" alt="Aguarde o carregamento..." />
        </div>
    </div>

    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-light navbar-warning">
            <!-- Left navbar links -->
            <a class="brand-link text-lg-left">
                @*<img src="~/Images/logo_v3c_SIMBOLO.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">*@
                @*<span class="fonteLogoAgilium" >AGILIUM PAINEL</span>*@
            </a>

            <!-- Right navbar links -->
            <partial name="_LoginPartial" />
          
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->

        <aside class="main-sidebar sidebar-light-navy elevation-4">
            <!-- Brand Logo -->
            <a class="brand-link navbar-warning" data-widget="pushmenu" href="#" role="button">
                <img src="~/Images/logo_v3c_SIMBOLO.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="fonteLogoAgilium">AGILIUM</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                            
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                                <a class="nav-link" asp-action="ObterListasEmpresasPorUsuario" asp-controller="empresa" data-modal="" id="idselec">
                                    <label id="idselec-txt"></label>
                                </a>
                            </div>
                          
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">
                                <i class="fas fa-home"></i>
                                <p>Home</p>
                            </a>
                        </li>
            
                        <li class="nav-item ">
                            <a href="#" class="nav-link active">
                
                                <i class="nav-icon fas fa-th-list"></i>
                                <p>
                                    Cadastro
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-list-ul"></i>
                                        <p>
                                            Base
                                            <i class="nav-icon fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a class="nav-link active" asp-controller="Empresa" asp-action="Index">
                                                <i class="nav-icon fas fa-circle"></i>
                                                <p>Empresa</p>
                                            </a>
                                            <a class="nav-link active" asp-controller="Fornecedor" asp-action="Index">
                                                <i class="nav-icon fas fa-circle"></i>
                                                <p>Fornecedor</p>
                                            </a>
                                            <a class="nav-link active" asp-controller="Funcionario" asp-action="Index">
                                                <i class="nav-icon fas fa-circle"></i>
                                                <p>Funcionario</p>
                                            </a>
                                            <a class="nav-link active" asp-controller="Cliente" asp-action="Index">
                                                <i class="nav-icon fas fa-circle"></i>
                                                <p>Cliente</p>
                                            </a>
                                              <a class="nav-link active" asp-controller="Produto" asp-action="Index">
                                                <i class="nav-icon fas fa-circle"></i>
                                                <p>Produto</p>
                                            </a>
                                        </li>
                                    
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-list-ul"></i>
                                        <p>
                                            Auxiliares
                                            <i class="nav-icon fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Unidade" asp-action="Index">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>
                                                    Unidade
                                                </p>
                                            </a>
                                            <a class="nav-link" asp-controller="Produto" asp-action="IndexGrupo">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>
                                                    Grupo de Produto
                                                </p>
                                            </a>
                                            <a class="nav-link" asp-controller="Estoque" asp-action="Index">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>
                                                    Estoque
                                                </p>
                                            </a>
                                            <a class="nav-link" asp-controller="Devolucao" asp-action="IndexMotivos">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>
                                                    Motivo de Devolução
                                                </p>
                                            </a>
                                            <a class="nav-link" asp-controller="Produto" asp-action="IndexDepartamentos">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>
                                                    Departamentos
                                                </p>
                                            </a>
                                            <a class="nav-link" asp-controller="Produto" asp-action="IndexMarcas">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>
                                                    Marcas de produtos
                                                </p>
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-list-ul"></i>
                                        <p>
                                            Ponto de Venda
                                            <i class="nav-icon fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a class="nav-link active" asp-controller="PontoVenda" asp-action="Index">
                                                <i class="nav-icon fas fa-circle"></i>
                                                <p>PDV</p>
                                            </a>
                                            <a class="nav-link active" asp-controller="Moeda" asp-action="Index">
                                                <i class="nav-icon fas fa-circle"></i>
                                                <p>Moeda</p>
                                            </a>
                                            <a class="nav-link active" asp-controller="FormaPagamento" asp-action="Index">
                                                <i class="nav-icon fas fa-circle"></i>
                                                <p>Forma de Pagamento</p>
                                            </a>
                                           
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item ">
                            <a href="#" class="nav-link active">

                                <i class="nav-icon fas fa-th-list"></i>
                                <p>
                                    Processos
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-list-ul"></i>
                                        <p>
                                            Turnos
                                            <i class="nav-icon fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a class="nav-link active" asp-controller="Turno" asp-action="Index">
                                                <i class="nav-icon fas fa-circle"></i>
                                                <p>Historico</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-list-ul"></i>
                                        <p>
                                            Estoque
                                            <i class="nav-icon fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a class="nav-link active" asp-controller="Compra" asp-action="Index">
                                                <i class="nav-icon fas fa-circle"></i>
                                                <p>Compras</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" asp-controller="Perda" asp-action="Index">
                                                <i class="nav-icon fas fa-circle"></i>
                                                <p>Perdas/Sobras</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" asp-controller="Inventario" asp-action="Index">
                                                <i class="nav-icon fas fa-circle"></i>
                                                <p>Inventário</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">

            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="conteudo content">
                <div class="container-fluid">
                    @RenderBody()
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Ambiente: Homologação
            </div>
            <!-- Default to the left -->
            <div>Data do Sistema: @DateTime.Now.ToString("dd/MM/yyyy")</div>
        </footer>
    </div>
    
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- Bootstrap 4 -->
    <!-- AdminLTE App -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- jQuery -->
    <script src="~/dist/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/dist/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <script src="~/dist/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="~/dist/plugins/chart.js/Chart.js"></script>

    <!-- DataTables  & Plugins -->
    <script src="~/dist/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/dist/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/dist/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/dist/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/dist/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/dist/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/dist/plugins/jszip/jszip.min.js"></script>
    <script src="~/dist/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/dist/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/dist/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/dist/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/dist/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/js/dknotus-tour.min.js"></script>
    <script src="~/dist/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="~/dist/plugins/daterangepicker/daterangepicker.js"></script>

    <script src="~/js/toastr.min.js"></script>
    <script src="~/dist/plugins/sweetalert2/sweetalert2.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/dist/js/jqueryInputMask.js"></script>

    <!--forms-->
    <script src="~/dist/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
 
    <script src="~/dist/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    @*<script src="~/dist/js/demo.js"></script>
        <script src="~/dist/js/pages/dashboard.js"></script>*@

    @RenderSection("Scripts", required: false)

    <script>
    
        function SetModal() {

            $(document).ready(function () {
                $(function () {
                    $.ajaxSetup({ cache: false });

                    $("a[data-modal]").on("click",
                        function (e) {
                            $('#myModalContent').load(this.href,
                                function () {
                                    $('#myModal').modal({
                                        keyboard: true
                                    },
                                        'show');
                                    bindForm(this);
                                });
                            return false;
                        });
                });
            });
        }

        function bindForm(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            $('#myModal').modal('hide');
                            if (result.url) {
                                $('#ContatoTarget').load(result.url); // Carrega o resultado HTML para a div demarcada
                            } else {
                                $('#ContatoTarget').html(result);
                            }


                            Swal.fire({
                                icon: 'success',
                                title: 'Sucesso',
                                text: 'Operação realizada com sucesso'
                            });
                        } else {
                            $('#myModalContent').html(result);
                            bindForm(dialog);
                        }
                    }
                });

                SetModal();
                return false;
            });
        }

        $(document).ready(function () {

            //Renderiza a mensagem que retorna da controller
            if ("@ViewBag.TipoMensagem" != '') {
                ModalMensagem("@ViewBag.TipoMensagem", "@Html.Raw(ViewBag.Mensagem)");
            }
            else if ("@TempData["TipoMensagem"]" != '') {
                ModalMensagem("@TempData["TipoMensagem"]", "@TempData["Mensagem"]");
            }

        });

        function on() {
            document.getElementById("overlay").style.display = "block";
        }

        function off() {
            document.getElementById("overlay").style.display = "none";
        }

        function ModalMensagem(tipoModal, mensagemModal) {
            var _tipoModal;

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "showDuration": "1000",
                "hideDuration": "1000",
                "timeOut": "10000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            switch (tipoModal) {

                case "warning":
                    toastr.warning(mensagemModal)
                    break;
                case "danger":
                    toastr.error(mensagemModal)
                    break;
                case "info":
                    toastr.info(mensagemModal)
                    break;
                case "success":
                    toastr.success(mensagemModal)
                    break;

                default:
                    toastr.success(mensagemModal)
                    break;
            }
        }

        $('#btnYes').click(function () {

            // handle form processing here

            alert('submit form');
            $('form').submit();

        });

        $(".indisponivel").click(function () {
            ModalMensagem("danger", "Recurso Indisponível para versão Web");
        });
        $(document).ready(function () {
            ObterEmpresaSelecionado();
        });

        function ObterEmpresaSelecionado(){
            $.ajax({
                type: 'get',
                url: '/empresa/ObterEmpresaSelecionada',
                success: function (resultado) {
                    if (resultado == null ) {
                        toastr.error("Erro")
                        return;
                    }
                    const idEmpresa = JSON.parse(JSON.stringify(resultado));
                    if(idEmpresa)
                        $('#idselec-txt').text(idEmpresa);
                    else
                        $('#idselec-txt').text("Selecionar empresa");
                },
                error: function (result) {
                    $('#idselec-txt').text('Selecionar empresa');
                }
            });
        }

    </script>
</body>
</html>
